.company{
    h4{
        font-size:24px
    }
    p{
        font-size:16px
    }
    .row{ 
        .project{
            padding:10px;
            font-weight: bold;
        }

        @media (max-width: 768px) {   
            text-align: center; 
          }
        img{
            width:100%;
        max-width: 200px;
        }    
        padding: 16px 0;    
        &:not(:last-child){
            border-bottom:1px dashed #6A6AA9;                 
        }
        &:hover{
            background: #f8fafd;
        }
    }
    .chip {
        display: inline-block;
        padding: 0 25px;
        margin: 5px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
      }
      
      .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        background: #ccc;
        padding: 3px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
}