<h1>Companies I worked for</h1>
<div class="company">
    <div class="row h-100">
        <div class="col-12 col-md-2 my-auto text-xs-center">
            <span class="tcs" data-aos="zoom-out-up">
                <img src="../../assets/images/tcs.png">
            </span>
        </div>
        <div class="col-12 col-md-4 my-auto text-xs-center" data-aos="zoom-in-left">
            <h4>TATA Consultancy Services</h4>
            <p>December 2013 - Till date (Completed 6years)</p>
        </div>
        <div class="col-12 col-md-6 my-auto text-xs-center">
            <div class="project">Projects</div>
            <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/citibank-1.svg" alt="Person" width="66" height="66">
               CITI Bank
              </div>
              <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/walmart.svg" alt="Person" width="66" height="66">
                WALMART
              </div>
              <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/british-airways-48174.svg" alt="Person" width="66" height="66">
               British Airways
              </div>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-12 col-md-2 my-auto">
            <span class="tcs" data-aos="zoom-out-up">
                <img src="../../assets/images/hcl.png">
            </span>
        </div>
        <div class="col-12 col-md-4 my-auto" data-aos="zoom-in-left">
            <h4>Hindustan Computers Limited</h4>
            <p>September 2011 – December 2013 (2years 4 months)</p>
        </div>
        <div class="col-12 col-md-6 my-auto text-xs-center">
            <div class="project">Projects</div>
            <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/standard-chartered-1.svg" alt="Person" width="66" height="66">
               Standard Chartered Bank
              </div>              
        </div>
    </div>
    <div class="row h-100">
        <div class="col-12 col-md-2 my-auto">
            <span class="tcs" data-aos="zoom-out-up">
                <img src="../../assets/images/symbioun.png">
            </span>
        </div>
        <div class="col-12 col-md-4 my-auto">
            <h4>Symbioun solutions</h4>
            <p>April 2010 – August 2011 (1 year 5 months) </p>
        </div>
        <div class="col-12 col-md-6 my-auto text-xs-center">
            <div class="project">Projects</div>
            <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/groupon.png" alt="Person" width="66" height="66">
              Groupon
              </div>
            
        </div>
    </div>
    <div class="row h-100">
        <div class="col-12 col-md-2 my-auto">
            <span class="tcs" data-aos="zoom-out-up">
                <img src="../../assets/images/muthu.png">
            </span>
        </div>
        <div class="col-12 col-md-4 my-auto" data-aos="zoom-in-left">
            <h4>Muthu Technology solutions</h4>
            <p>June 2008 - April 2010 (1 year 10 months)</p>
        </div>
        <div class="col-12 col-md-6 my-auto text-xs-center">
            <div class="project">Projects</div>
            <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/spar-1.svg" alt="Person" width="66" height="66">
              SPAR HYPER
              </div>
              <div class="chip" data-aos="zoom-out-right">
                <img src="../../assets/images/project/intel.svg" alt="Person" width="66" height="66">
              Intel
              </div>
             
        </div>
    </div>
</div>

