<footer>
    <div class="row">
        <div class="col-12 col-md-3">© 2020 Raja Arumugam</div>
        <div class="col-12 col-md-5 offset-md-4">
            <ul>
                <li><a href="#skillset">Skills</a></li>            
                <li><a href="#company">Companies</a></li>
                <li><a href="#portfolio">Portfolio</a></li> 
                <li>
                    <div class="download"><a href="../../assets/file/Raja_UI EngineerProfile.pdf">Download resume</a></div>
                </li> 
            </ul>
        </div>
    </div>
</footer>
