<h1>My Works</h1>
<div class="container">
    <div class="row works">
        <div class="col col-12 col-md-3 logos" data-toggle="modal" data-target="#logos" data-aos="zoom-out"></div>
        <div class="col col-12 col-md-3 websites"  data-toggle="modal" data-target="#websites" data-aos="zoom-out"></div>
        <div class="col col-12 col-md-3 photography" data-toggle="modal" data-target="#photography" data-aos="zoom-out"></div>        
</div>

  <!-- The Modal -->
  <div class="modal fade" id="websites">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>       
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/intel2.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/gks.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/kc.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/letspray.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/new.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/PLANET.jpg" title="intel"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/web/temple.jpg" title="intel"/>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        
      </div>
    </div>
    </div>
    <div class="modal fade" id="logos">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>       
            </div>              
            <!-- Modal body -->
            <div class="modal-body">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                         <div class="swiper-slide">
                            <img src="../../assets/images/logo/humanitree.png" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/logo/rv.png" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/logo/string.png" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/logo/proxy.png" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/logo/falcon.jpg" title="intel"/>
                        </div>
                      
                        <div class="swiper-slide">
                            <img src="../../assets/images/logo/nav.png" title="intel"/>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            
          </div>
        </div> 
  </div>

  <div class="modal fade" id="photography">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>       
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                         <div class="swiper-slide">
                            <img src="../../assets/images/photo/lonliness.jpg" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/photo/breakfast.jpg" title="intel"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/photo/summer.jpg" title="intel"/>
                        </div>                        
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            
          </div>
        </div> 
  </div>
  




  