@import '../node_modules/swiper/css/swiper.min.css';

body{
    margin:0;
}
h1{
    padding-bottom: 24px;
}
html {
    scroll-behavior: smooth !important;
}
@font-face {
    font-family: myliusModern;
    src: url(../src/assets/fonts/mylius-modern-extlig.woff);
    src: url(../src/assets/fonts/mylius-modern-extlig.eot); /* IE9 Compat Modes */
  src: url(../src/assets/fonts/mylius-modern-extlig.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../src/assets/fonts/mylius-modern-extlig.woff2) format('woff2'), /* Super Modern Browsers */
       url(../src/assets/fonts/mylius-modern-extlig.woff) format('woff'), /* Pretty Modern Browsers */
       url(../src/assets/fonts/mylius-modern-extlig.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../src/assets/fonts/mylius-modern-extlig.svg#svgFontName) format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: openSans;
    src: url(../src/assets/fonts/OpenSans-Light-webfont.woff);
    src: url(../src/assets/fonts/OpenSans-Light-webfont.eot); /* IE9 Compat Modes */
  src: url(../src/assets/fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../src/assets/fonts/OpenSans-Light-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(../src/assets/fonts/OpenSans-Light-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../src/assets/fonts/OpenSans-Light-webfont.svg#svgFontName) format('svg'); /* Legacy iOS */
  }

  div {
    font-family: myliusModern;
  }
  p,ul, a, h1, h3{
    font-family: openSans;
  }
  h1{
    @media (max-width: 768px) {
      font-size: 1.8rem !important;
   
    }
  }
  
  header{
    font-size: 32px;
}