<h1>My Key Skills</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Programming languages:</h3>
      <ul>
        <li class="html5"><span>HTML 5</span></li>
        <li class="css3"><span>CSS 3.0</span></li>
        <li class="javascript"><span>JavaScript</span></li>
        <li class="typeScript"><span>TypeScript</span></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Frameworks</h3>
      <ul>
        <li class="angular"><span>Angular 8.0</span></li>
        <li class="angular"><span>AngularJs</span></li>
        <li class="jquery"><span>jQuery</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Multimedia Tools</h3>
      <ul>
        <li class="photoshop"><span>Adobe Photoshop</span></li>
        <li class="illustrator"><span>Adobe Illustrator</span></li>
        <li class="animate"><span>Adobe Animate</span></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Wireframing Tools</h3>
      <ul>
        <li class="axure"><span>Axure Rp</span></li>
        <li class="figma"><span>Figma</span></li>
        <li class="invision"><span>Invision</span></li>
      </ul>
    </div>
  </div>
