<app-banner-component></app-banner-component>
<div class="contentContainer" wmAnimate="landing" speed="slow" aos>
    <div class="container">
    <p> A leading UI developer coming along with fantastic UX designer skills, who enjoy turning complex problems into simple, beautiful and workable. When I'm not coding or designing interfaces, you'll find me roaming on the city with my DSLR.</p>
    <section id="skillset">
        <app-skillset></app-skillset>
    </section>
    <section id="company">
        <app-company></app-company>   
    </section>
    <section id="portfolio">
        <app-portfolio></app-portfolio>
    </section>
</div>
</div>
<app-footer></app-footer>
    

