.bannercontainer{   
background: #f3f3fb;
height:auto;
color: #282662;
padding:20px;
@media (max-width: 768px) {   
    text-align: center; 
  }
.menu{
    ul{
        list-style-type: none;
        font-size: 20px;
        font-weight: 900;
        @media (max-width: 768px) {
            padding:0;
          }
        li{
            .download:before {
                content: "";
                display: block;
                background: url("../../assets/icons/download.png") no-repeat;
                width: 20px;
                background-size: 100%;
                height: 20px;
                float: left;
                margin: 6px 6px 0 0;     
                @media (max-width: 768px) {   
                    display:none; 
                  }     
            }
            border-bottom: 1px dotted #77779E;
            padding:5px;
            color:#282662 !important;
            a{
                color:#282662 !important;
                text-decoration: none;
            }  
            
        }
        .facebook{
            background: url("../../assets/icons/facebook-icon.svg") no-repeat;
            width: 25px;
            background-size: 100%;
            height: 25px;
            display: inline-block;
            margin: -5px 5px;
        }
        .linkedin{
            background: url("../../assets/icons/linkedin-icon.svg") no-repeat;
            width: 25px;
            background-size: 100%;
            height: 25px;
            display: inline-block;
            margin: -5px 5px;
        }
    }
}
    .nameCont{
        padding: 0 25px;
        header{
            font-size: 32px;
            font-weight: bold;
        }
        small{
            font-size: 24px;
        }
    }
    .mobileCont{
        font-size: 16px;
        font-weight: bold;
        padding: 16px 25px;
        div{
            padding:6px 0; 
            a{
                color:#282662 !important;
            }         
        }
        .mail:before {
            content: "";
            display: block;
            background: url("../../assets/icons/mail.png") no-repeat;
            width: 20px;
            background-size: 100%;
            height: 20px;
            float: left;
            margin: 6px 6px 0 0;
        }
        .mobile:before {
            content: "";
            display: block;
            background: url("../../assets/icons/mobile.png") no-repeat;
            width: 20px;
            background-size: 100%;
            height: 20px;
            float: left;
            margin: 0 6px 0 0;
        }
    }
    .character{            
         background: url('../../assets/images/character2.svg') no-repeat;
         background-size: 100%;
         height:500px;
         @media (max-width: 768px) {
            height:400px;
          }
    }
}