<div class="bannercontainer">
<div class="row h-100 align-items-center">
    <div class="col-sm-12 col-md-3 col-lg-3 align-middle">
        <div class="nameCont" data-aos="fade-up-right">   
            <span></span>     
            <header><img src="../../assets/images/raaj.svg" title="Raja Logo"></header>
            <small>UI developer / UX designer</small>          
        </div>
        <div class="mobileCont" data-aos="fade-up-left">            
        <div class="mail"><a href="tel:+447405907261">messages2raja@hotmail.com</a></div>
        <div class="mobile"><a href="tel:+447405907261">+44 -740-590-7261</a></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6  justify-content-center  character" data-aos="zoom-in">
        
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 align-middle menu" data-aos="fade-up-left">
        <ul>
            <li><a href="#skillset">Key Skills</a></li>            
            <li><a href="#company">Companies I worked for</a></li>
            <li><a href="#portfolio">Portfolio</a></li> 
            <li>Follow me 
                <a href="https://www.facebook.com/rajah.arumugam"><span class="facebook"></span></a>
                <a href="https://www.linkedin.com/in/raja-a-78788718/"><span class="linkedin"></span></a>
            </li> 
            <li>
                <div class="download"><a href="../../assets/file/Raja_UI EngineerProfile.docx">Download resume</a></div>
            </li> 
                  
        </ul>
    </div>
  </div>
</div>
